@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(circle at -10.93% 33.67%, #a8e3f5 0, #8ad0e7 50%, #6bbdd9 100%);
}

.cabecalho{
    font-family: 'Popins', sans-serif;
    color: #fff;
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: rgb(27, 109, 136);
    margin-bottom: 13em;
}

.container{
    background-color: #126a88;
    width: 40em;
    height: 20em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 0px #00000078
}

.select{
    display: flex;
    justify-content: center;
}

#Classes{
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    margin-top: 2em;
    font-size: 1em;
    outline: 0;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    gap: 1em;
}

.input [value="Gerar IP"]{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 7px;
    cursor: pointer;
    border: none;
    background-color: #00bfff;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

.input [value="Gerar IP"]:hover{
    background-color: #cf9c5a;
    color: #fff;
    transition: .5s ease-in-out;
}

#Resultado{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    outline: 0;
    box-shadow: inset 1px 4px 10px lightgrey;
}

.slide-top {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .1s both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940)  .1s both;
}

 @-webkit-keyframes slide-top {
    0% {
        opacity: 0;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
        opacity: 0;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
        opacity: 1;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }